/* font config */

  @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');



/* constume scrollbar */

body::-webkit-scrollbar {
    width: 8px;
	cursor: pointer;
}

body::-webkit-scrollbar-track {
    background: #a6a5a9ab ;
	cursor: pointer;
}

body::-webkit-scrollbar-thumb {
	background-color: #514e4c;
	border-radius: 10px;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

div::-webkit-scrollbar {
	width: 4px;
	height: 3px;
	cursor: pointer;
}

div::-webkit-scrollbar-track {
    background: #ffffff00 ;
	cursor: pointer;
}

div::-webkit-scrollbar-thumb {
    background-color: #A59C94;
    border-radius: 11px;
    border: 2px solid #efefef00;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    cursor: pointer;
}


