/**
*
*	Name:			Yekan Bakh Fonts
*	Version:			2.0
*	Author:			Reza Bakhtiarifard (rbakhtiarifard.ir)
*	Created on:		Apr 2022
*	Updated on:		Apr 2022
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت پیکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
yekan bakh fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/woff/yekanbakh-thin.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-thin.woff2') format('woff2');		
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/yekanbakh-Light.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-Light.woff2') format('woff2');	
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/yekanbakh-Regular.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/yekanbakh-SemiBold.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/yekanbakh-Bold.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-Bold.woff2') format('woff2');		 
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/yekanbakh-ExtraBold.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/yekanbakh-Black.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-Black.woff2') format('woff2');	 
}

@font-face {
	font-family: yekanbakh;
	font-style: normal;
	font-weight: 950;
	src: url('fonts/woff/yekanbakh-ExtraBlack.woff') format('woff'),   
	url('fonts/woff2/yekanbakh-ExtraBlack.woff2') format('woff2');		 
}


/* constume scrollbar */

body::-webkit-scrollbar {
    width: 8px;
	cursor: pointer;
}

body::-webkit-scrollbar-track {
    background: #a6a5a9ab ;
	cursor: pointer;
}

body::-webkit-scrollbar-thumb {
	background-color: #514e4c;
	border-radius: 10px;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

div::-webkit-scrollbar {
	width: 4px;
	height: 3px;
	cursor: pointer;
}

div::-webkit-scrollbar-track {
    background: #ffffff00 ;
	cursor: pointer;
}

div::-webkit-scrollbar-thumb {
    background-color: #A59C94;
    border-radius: 11px;
    border: 2px solid #efefef00;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    cursor: pointer;
}


