@import url(./edition.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

        :root {
          --warmGray: #595F58;
          --lightGray:#f3e6da;
          --lightGreen:#86A097;
          --coolGray:#d1d5db;
          --daRed:#75535B;
          --trueGray:#414143;
          --darkb:#121212;
          --lb:#282828;
        }
      

    .gb {
        background: rgba(255, 255, 255, 0.608);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        color: #ea4b42;
    }

    .sp:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
    }

    .ls:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
}

    .bs{
        background: #166534;
    }

    .bb{
        background: #FEE2E2;
    }

    .bp{
        background: #155E75;
    }

    .uu{
        word-spacing:20px;
    }

    .wp{
        word-spacing:10px;
    }

    .inputltr{
        direction: ltr;
    }

    .pr{
        @media (min-width: 371px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }

}